

    <div class="card_standard flex-col mx-5 lg:flex-1 sm:w-11/12 max-w-xl">
        <slot name="image"><img src="https://images.unsplash.com/photo-1587321174565-73cffc72e10a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"></slot>
        <h1 class="title_card_standard text-lg"> <slot name="title">Escapadas a un paso de ti</slot></h1>
        <p class="content_card_standard"><slot name="content">Actividades únicas que podemos hacer juntos, ofrecidas por muchos anfitriones.</slot></p>
    </div>

